@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --neon-cyan: #00f3ff;
  --neon-purple: #bd00ff;
  --deep-blue: #050a14;
}

@theme {
  --color-neon-cyan: var(--neon-cyan);
  --color-neon-purple: var(--neon-purple);
  --color-deep-blue: var(--deep-blue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}


@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(0, 243, 255, 0.7), 0 0 20px rgba(0, 243, 255, 0.5);
  }
  .box-glow {
    box-shadow: 0 0 20px rgba(0, 243, 255, 0.3);
  }
}
